:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;

  &:hover {
    border-bottom: 2px solid black;
  }
}